* {
    padding:0;
    margin:0;
    font-family: 'Quicksand', sans-serif;
}
body {
    background-color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}


#bg-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.box-login {
    width: 500px;
    min-height: 270px;
    background-color: transparent;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 7px;
}

.box-login h2 {
    padding: 9px;
    text-align: center;
    margin-bottom: 15px;
}

.input-control {
    width: 100%;
    text-align: center;
    border: 2px solid rgb(68, 68, 68);
    padding: 11px;
    margin-bottom: 15px;;
    box-sizing: border-box;
    border-radius: 7px;
}

.warna-text-input-profile {
color: black;
border: 2px;
}

.btn {
    padding: 13px;
    width: 20%;
    background-color: #7b2727;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    width: 100%;
}

header{
    background-color: #7b2727;
    color: #fff;
}

header h1{
    float: left;
    padding: 10px 0;
    padding-bottom: 0;
    padding-top: 45px;
    align-items: center;
}

header ul{
    float: right;
    padding: 20px 10px 20px 15px;
}

header ul li{
    display: inline-block;
    padding: 20px 10px 20px 15px;
}

header ul li a{
    padding: 20px 0 20px 15px;
    display: inline-block;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.container::after{
    content: '';
    display: block;
    clear: both;
}

.section{
    padding: 25px 0 25px 0;
}

.box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
    margin: 15px 0;
}

.box:after {
    content: '';
    display: block;
    clear: both;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
}

.tr /* baris di tabel */ {
    height: 10px;
}

.table tr td{
    padding: 5px 10px;
}

.search {
    padding:15px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align:center
}

.search input[type=text] {
    width: 60%;
    padding:10px;
    border-radius: 7px;
}

.search input[type=submit] {
    padding:12px 15px;
    background-color: #7b2727;
    color:#fff;
    border:none;
    cursor: pointer;
    border-radius: 7px;
}

.col-5 {
    width:20%;
    height:100px;
    text-align: center;
    float: left;
    padding:10px;
    box-sizing: border-box;
}

.col-4 {
    width:25%;
    height: 400px;
    border:1px solid #ccc;
    float: left;
    padding:10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 11px;
}

.col-4:hover {
    box-shadow: 0 0 9px #999;
    margin-bottom: 10px;
}
.col-4 img {
    width: 100%;
}
.col-4 .nama {
    color: #666;
    margin-bottom: 5px;
    
}
.col-4 .harga {
    font-weight: bold;
    color:#7b2727;
    float: right;
    margin-bottom: 10px;
}

.footer {
    padding: 25px 0 ;
    background-color: #7b2727;
    color: #fff;
    text-align: center;
}
.footer p {
    margin-bottom: 10px;
}
.footer small {
    margin-top: 30px;
    display: inline-block;
}

.col-2 {
    width: 50%;
    min-height: 200px;
   /* border: 1px solid; */
    padding: 10px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
}

.col-2 h3{
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 29px;
}

.col-2 h4{
    color: #7b2727;
    margin-left: 15px;

}

.col-2 p{
    margin: 15px 30px;
    text-align: justify;
    line-height: 25px;
    font-size: 14px;
}

.hub{
    width: 100%;
    background-color: #7b2727;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 10px;
}